@model IEnumerable<CarRentalProject.Models.Car>

@{
    ViewData["Title"] = "Home Page";
}

@foreach(var item in Model)
{
    <div class="text-center">
      <a asp-controller="Cars" asp-action="Details" asp-route-id="@item.Id">
        <img src=@item.ImageUrl width="500" height="350">
      </a>
      <h1>@item.Brand @item.Model</h1>
    </div>
}